{% include "layouts/importing_css_js.html" %}
{% load static %}
<link href='{% static "css/navigation_styles.css" %}' rel="stylesheet" />
{% block stylesheets %}{% endblock stylesheets %}
<!--Main Navigation-->
<header class="mb-4 fixed-top">
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-black border-bottom">
    <div class="container-fluid">
      <div class="row">
        <!-- Right elements -->
        <div
          class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center d-none d-lg-flex">
          <a class="text-reset me-3" href="/search_supplier">
            <i class="fas fa-th-large"></i>
          </a>
          <a class="text-reset me-3" href="/#">
            <i class="fas fa-home"></i>
          </a>
          <a class="text-reset me-3" href="#">
            <i class="fas fa-columns me-1"></i>
            <span class="d-none d-xl-inline-block">Boards</span>
          </a>

          <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
            <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" />
            <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
          </form>
        </div>
        <!-- Right elements -->

        <!-- Center elements -->
        <div class="col-md-2 d-none d-lg-block">
          <!-- <a href="#!" class="ms-md-2">
              <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
            </a> -->
          <label class="title">"{{request.user}}"Store</label>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 d-flex justify-content-center justify-content-md-end align-items-center">
          <a class="text-reset me-3" href="orders">
            <i class="fas fa-shopping-cart"></i>
          </a>

          <!-- Notification -->
          <div class="dropdown">
            <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Some news</a></li>
              <li><a class="dropdown-item" href="#">Another news</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>

          <!-- User -->
          <div class="dropdown">
            <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/manufacturer_profile">My profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a></li>
            </ul>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
