{% include "layouts/importing_css_js.html" %}
{% load static %}
<link href='{% static "css/navigation_styles.css" %}' rel="stylesheet" />
{% block stylesheets %}{% endblock stylesheets %}
<!--Main Navigation-->
<header class="mb-4 fixed-top">
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-black border-bottom">
    <div class="container-fluid">
      <div class="row">
        <!-- Right elements -->
        <div
          class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center d-none d-lg-flex">
          <a class="text-reset me-3" href="/supplier_home">
            <i class="fas fa-home"></i>
          </a>
          <a class="text-reset me-3" href="all_orders">
            <i class="fas fa-shopping-bag"></i>
          </a>          
        </div>

        <!-- Center elements -->
        <div class="col-md-2 d-none d-lg-block">
          <!-- <a href="#!" class="ms-md-2">
              <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
            </a> -->
          <label class="title">"{{request.user}}"Store</label>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 d-flex justify-content-center justify-content-md-end align-items-center">

          <!-- Notification -->
          <!-- <div class="dropdown">
            <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Some news</a></li>
              <li><a class="dropdown-item" href="#">Another news</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div> -->

          <!-- User -->
          <div class="dropdown">
            <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/supplier_profile">My profile</a></li>
              <li><a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a></li>
            </ul>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->








  <!--Main layout-->
  <!-- <main id="intro" class="bg-image" style="
        background-image: url(https://mdbootstrap.com/img/new/fluid/city/018.jpg);
        height: 100vh;
      "> -->
  <!-- <div class="mask" style="background-color: rgba(0, 0, 0, 0.1)"></div>
  </main> -->
  <!--Main layout-->