            
<!-- The modal -->
<div class="modal fade" id="editModal{{ product.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ product.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel{{ product.id }}">Edit Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                  <!-- The form to edit the product details -->
                  <form method="POST" action="{% url 'edit_product_supplier' product.id %}">
                    {{type_list}}
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="product-name" class="form-label">Product Name</label>
                      <input type="text" class="form-control" id="product-name" name="product_name" value="{{ product.name }}">
                    </div>
                    <div class="mb-3">
                      <label for="product-price" class="form-label">Product Price</label>
                      <input type="text" class="form-control" id="product-price" name="product_price" value="{{ product.price }}">
                    </div>
                    <div class="mb-3">
                      <label for="product-quality" class="form-label">Product Quality</label>
                      <input type="text" class="form-control" id="product-quality" name="product_quality" value="{{ product.quality }}">
                    </div>
                    <div class="mb-3">
                      <label for="product-quantity" class="form-label">Product Quantity</label>
                      <input type="text" class="form-control" id="product-quantity" name="product_quantity" value="{{ product.quantity }}">
                    </div>
                    <div class="mb-3">
                      <label for="product-type" class="form-label">Product Type</label>
                      <input type="text" class="form-control" id="product-type" name="product_type" value="{{ product.type }}">
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" value="True" id="product-availability" name="product_availability" {% if product.is_available %}checked{% endif %}>
                      <label class="form-check-label" for="product-availability">
                        Available
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
            