<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolls</title>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='{% static "css/roll_styles.css" %}' rel="stylesheet" />
    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
    <div class="parent row">
        <div class="container col-md-4  align-middle">
            <div class="text-center">
                <a href="supplier_home"><button class="round glow-button button1" ></button></a>
                <h1>Supplier</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <a href="manufacturer_home"><button class="round glow-button button2" ></button></a>
                <h1>Manufacturer</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <a href="retailer_home"><button class="round glow-button button2" ></button></a>
                <h1>Retailer</h1>
            </div>
        </div>
    </div>
</body>
</html>