{% include "layouts/navigation.html" %}
{% block content %} {% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier home</title>
</head>
<body>
    <!-- custom nav bar -->
    
    <!-- Admin form-->
    <h1>Supplier</h1>
    <a href="{% url 'user_logout' %}"><button>Logout</button></a> &nbsp;
    Hello, {{request.user}}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form%}
        {{field}}

        {% endfor %}
    </form>
    <h1>hii</h1>
    
</body>
</html>