{% include "layouts/navigation.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier home</title>
</head>
<style>
     .container {
  max-height: 700px; /* adjust this value as needed */
  min-height: 450px;
}

.card-link {
  text-decoration: none;
  color: #212529;
}

</style>

<!-- Include the necessary Bootstrap JavaScript code -->
<script>
  function confirmDelete() {
    if (confirm("Are you sure you want to delete this product?")) {
      return true;
    } else {
      return false;
    }
  }
  </script>
<body>
    <div class="container border mt-2 overflow-auto">
        <div class="row" style="background-color: lightblue;">
            <div class="col-md-10 d-flex justify-content-end align-items-center">
              <h1 class="text-center mx-auto">My Products</h1>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
              <a href="add_product_supplier"><button class="btn btn-primary">Add</button></a>
            </div>
          </div>
        {% regroup user_products by type as type_list %}
        {% for type in type_list %}
          <div class="row mt-4">
            <div class="col-md-12">
              <h2>{{ type.grouper }}</h2>
            </div>
          </div>
          <div class="row">
            {% for product in type.list %}
            <div class="col-md-4">
              <div class="card mb-2">
                <a href="{% url 'edit_product_supplier' product.id %}" data-bs-toggle="modal" data-bs-target="#editModal{{ product.id }}"><span class="position-absolute top-0 end-0 mt-2 me-2" style="font-size: 2rem;">✏️</span></a>
                <!-- <a href="{% url 'delete_product_supplier' product.id %}" class="btn btn-danger position-absolute top-0 end-0 mt-2 me-5">Delete</a> -->
                <a href="{% url 'delete_product_supplier' product.id %}" onclick="return confirmDelete();" class="btn btn-danger position-absolute top-0 end-0 mt-2 me-5">Delete</a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: {{ product.price }}</p>
                    <p class="card-text">Quality: {{ product.quality }}</p>
                    <p class="card-text">Quantity: {{ product.quantity }}</p>
                    <p class="card-text">Type: {{ product.type }}</p>
                    {% if product.is_available %}
                        <p class="card-text text-success">Available</p>
                    {% else %}
                        <p class="card-text text-danger">Not available</p>
                    {% endif %}
                </div>
            </div>  
            </div>            
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      
</body>
</html>